.footer {
  background-color: #1f2937;
  box-shadow: 0 0 8px 0px #00000075;
  color: var(--color-white);
  margin-top: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 4px solid var(--color-primary-dark);
}
.footer-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 0.875rem;
}
.footer-text {
  color: #d1d5db;
}
.footer-subtext {
  margin-top: 0.25rem;
  color: #9ca3af;
}

.dark .footer {
  border-top-color: #18bd8e;
  background-color: #1e1e1e;
}
