.navbar {
  box-shadow: 0 0 8px 0px #00000075;
  width: 100%;
  transition: all 0.3s ease-in-out;
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
}
.navbar-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
}
.navbar-logo-group {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo-icon {
  height: 1.75rem;
  width: 1.75rem;
  color: #059669;
  margin-right: 0.5rem;
}
.logo-text {
  font-size: 1.75rem;
  font-weight: 800;
  color: #1f2937;
  letter-spacing: 0.05em;
}

.logo-text-green {
  color: #338466;
}
.navbar-links {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-link {
  color: #4b5563;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  transition: all 0.3s;
}

.nav-link:active {
  opacity: 0.8;
}

.Toggle-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: gray;
  background-color: transparent;
  padding-left: 10px;
  transition: all 0.3s ease-in-out;
}

.Toggle-dark:hover {
  opacity: 0.9;
  transform: translateY(-3px);
}

.hamburger {
  display: none;
}

.navbar-links-mob {
  display: none;
}

/* RESPONSIVENESS */

@media (max-width: 500px) {
  .navbar-container {
    flex-direction: row-reverse;
  }
  .logo-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.3rem;
  }
  .logo-text {
    font-size: 1.3rem;
  }
  .navbar-links {
    display: none;
  }
  .hamburger {
    display: flex;
    background: none;
    border: none;
    font-size: medium;
  }
  .dark .hamburger {
    color: white;
  }
  .close-hamburger {
    display: flex;
    background: none;
    border: none;
    color: rgb(33, 33, 33);
    justify-content: flex-end;
    font-size: large;
  }
  .dark .close-hamburger {
    color: white;
  }
  .navbar-links-mob {
    display: flex;
    z-index: 9999;
    flex-direction: column;
    position: fixed;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background-color: transparent;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.5),
      inset 0 0 10px rgba(74, 222, 128, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 0 20px 20px 0;
    width: 12rem;
    min-height: 100vh;
    padding: 20px;
    gap: 2.5rem;
    top: 0;
    left: -100%;
  }
  .open {
    left: 0;
  }
  .Toggle-dark {
    justify-content: flex-start;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .navbar-container {
    height: 6.5rem;
    flex-direction: column;
    row-gap: 8px;
    justify-content: center;
  }
}

/* DARK THEME */

.dark .logo-text {
  color: #e0e0e0;
}

.dark .nav-link:hover {
  background-color: black;
}

.dark .nav-link {
  color: #e0e0e0;
}

.nav-link:hover {
  color: #059669;
  background-color: #f3f4f6;
  transform: translateY(-3px);
}

.dark .Toggle-dark {
  color: white;
}
.dark .logo-text-green {
  color: #18bd8e;
}
